/* NAV */
.nav{
  background-color: #F55A5A;
  color: white;
  height: 55px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.nav-title{
  margin: 0;
}
/* MAIN */
.main{
  margin-top: 45px;
}
/* CARD */
.card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 36px;
}

.card-image-container{

  margin-right:19px ;
}
.card-img-src{
  object-fit: cover;
  width: 125px;
  height: 168px;
  border-radius: 10px;
  border: 2px solid #F55A5A;


}
.card-content{
  width: 326px;

  
}

.flex-row{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.font-12{
  font-size: 12px;
}

.card-title{
  margin-bottom: 15px;
}